<div class="header">
    <a href="/">
        <img class="logo" src="/images/logo_small.png" />
    </a>
	<form class="search" method="GET" action="/search">
        <input type="text" class="search-input" id="q" name="q" value="<%= q %>" placeholder="Search for a disease, symptom, ..." />
        <input type="submit" class="search-button" id="b" value="Search" />
    </form>
</div>