<!DOCTYPE html>
<html>
<head>
    <title><%= condition.description %> - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('partials/search_header', {q: ''}) %>
    TODO: create <%= condition.description %> page
</body>
</html>
