<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <div>
        <form method="GET" action="/search">
            <input type="text" class="search" id="q" name="q" autofocus />
            <input type="submit" class="search" id="b" />
        </form>
    </div>
</body>
</html>
