body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.billboard_info {
	margin-top: 20px;
}

.conditions_separator {
	margin-top: 20px;
}

.search {
	padding: 5px;
	border-radius: 10px;
}

#q.search {
	width: 30%;
}

#b.search {
	width: 80px;
}

#t.search {
	font-size: larger;
}

.search_header {
	margin-bottom: 50px;
}

.search_results {
	width: 800px;
}

.search_results_item {
	margin-top: 20px;
}

.search_results_item_title {
	font-size: larger;
}